<div class="mainContents col-sm-9 col-sm-push-3 col-md-9 col-md-push-3">
        <p>ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
        </p>
        <%= link_to "全ての商品を見る>", items_path %>
</div>