<footer class="container">
    <h1><%= link_to image_tag("logo.jpeg", height:"100px"), root_path, class:"footer-logo" %></h1zw>
    <p class="shop-info">
        <span>NaganoCake  |  長野の小さなお菓子屋さん</span>
        <span>〒380-8512 長野県長野市鶴賀緑町1613番地</span>
    </p>
</footer>