<div class="leftSide col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9">
    <div class="sidePostage">
      <span class="ptext">＊冷凍発送となります＊ </span><br />
      <span class="pPrice">１度の注文で、<br />ケーキは２個までとなります </span><br />
      <span class="pMemo">＊表示の送料は、全国一律送料です＊</span>
    </div>
    <div class="searchArea">
      <input type="text" name="q" placeholder="商品を検索" value="">
      <button type="submit">search</button>
    </div>
    <h2 class="title titleItemcategory">Category</h2>
      <table class="table col-10">
        <tbody>
          <!--< @genres.each do |genre| %>-->
          <!--    <tr>-->
          <!--        <td><= genre.name %></td>-->
          <!--    </tr>-->
          <!--< end %>-->
          <tr><td>ケーキ</td></tr>
          <tr><td>焼き菓子</td></tr>
          <tr><td>プリン</td></tr>
          <tr><td>キャンディ</td></tr>
        </tbody>
      </table>
    <h2 class="title titleItemcategory">Guide</h2>
      <table class="table col-10">
        <tbody>
          <tr><td>ながのcakeについて</td></tr>
          <tr><td>お問合せ</td></tr>
          <tr><td>プライバシーポリシー</td></tr>
          <tr><td>特定商取引法に基づく表記</td></tr>
        </tbody>
      </table>
  </div>